.title {
  font-family: 'Arial';
  font-size: 1.2rem;
  text-align: center;
  color: #0a0a0c;
  text-shadow: 2px 2px 16px #ff1122;
}

.list {
  display: flex;
  margin: 16px;
  flex-wrap: wrap;
}

.list li {
  border: 1px solid #f91100;
  margin: 8px;
  border-radius: 4px;
  box-shadow: 1px 2px 2px #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  padding: 8px;
  flex-direction: column;
}

.list li a {
  cursor: pointer;
}

.list li a:hover {
  box-shadow: 1px 1px 2px #066000;
  border: 1px dotted #009900;
}
